<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATVIEW</title>
    <style>
        body {
            background-color: gray;
            background-position: center;
            background-size: cover;
            color: yellow;
            margin-left: 20px;
        }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        justify-content: flex-end;
    }

    </style>
</head>
<body>
    <!-------------------- 상단바 -------------------->
    <nav class="navbar">
        <h3>ATVIEW</h3>
        <div class="button">
        <button>회원가입</button>
        <button>로그인</button>
        </div>
    </nav>
</body>
</html>